@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rowdies:wght@300&display=swap');

body{
  background-color: lightgray;
}

h1{
  text-align: center;
  margin: 30px, 0;
  font-family: 'Rowdies', cursive;
}

p{
  text-align: center;
  margin-bottom: 25px;
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  font-size: 25px;
}
.link-text{
  text-align: center;
  margin-top: 40px;
}
#canvas {
  width: 400px;
  height: 400px;
  background-color: ivory;
  margin: 0 auto;
  box-shadow: 15px 15px 15px gray;
}
#first-row {
  height: 75%; 
  width: 100%;
  }
#big-rectangle {
  height: 100%;
  width: 75%;
}
#first-divider {
  height: 100%;
  width: 3%;
}
#first-column {
  height: 100%;
  width: 22%;
}
#second-divider {
  height: 3%;
  width: 100%;
}
#first-medium-rectangle {
  height: 48.5%;
  width: 100%;
}
#second-medium-rectangle {
  height: 48.5%;
  width: 100%;
}
#second-row {
  height: 3%;
  width: 100%;
}
#third-row {
  height: 22%;
  width: 100%;
}

#last-column {
  height: 100%;
  width: 5%;
}

#first-tiny-rectangle {
  height: 45%;
  width: 100%;
}

#second-tiny-rectangle {
  height: 45%;
  width: 100%;
}

#third-divider {
  height: 10%;
  width: 100%;
}

#fourth-divider {
  height: 100%;
  width: 3%;
}

#fifth-divider {
  height: 100%;
  width: 3%;
}

#wide-rectangle {
  height: 100%;
  width: 67%;
}

#small-rectangle {
  height: 100%;
  width: 22%;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.red{
  background-color: red;
}
.right{
  float: right;
}
.black{
  background-color: black;
}

